<div class="content">
<table>
  <tr>
    <td>
        <img src="assets/images/budget.svg" alt="image">
    </td>
    <td>
      <div class="head">
        <h1>Calculate Your Budget</h1>
        <p>Want to know what's your budget?. Signup now and start calculating your budget by entering your income and expense details in this web app.</p>
        <p>This is a MEAN stack application which uses Angular for frontend, Node and Express for backend and Mongodb for storing data.</p>
        <p>Here you can add income and expense details and you can edit it and delete it.</p>
        <p>The total will be calculated according to the details you provide.</p>
      </div>


    </td>
  </tr>

</table>
</div>
